* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-container {
  color: #fff;
  background-color: #5995DA;
  padding: 20px 0;
  justify-content: space-between;
}

.navbar {
  border: 1px solid #fff;
  width: 900px;
  display: flex;
  justify-content: space-around;
}
